---
layout: default
title: About me
description: Psychologist, UX designer-researcher-writer & coach.
animation: diamond
permalink: /about/
callout_title: "Did you know?"
callout_description: "Been there, wrote a book on being a woman in STEM"
callout_link: "https://www.amazon.co.uk/Uncovering-Truffles-Scarcity-Value-Women/dp/1515304280/ref=sr_1_1?keywords=uncovering+truffles&qid=1585251895&sr=8-1"
---

<div class="relative pb-16 -mt-16">
    <div class="mx-auto relative mt-8 md:mt-16 mb-8">
        <div class="absolute w-full h-full border-slateGray border img-accent z-0"></div>
        <img class="relative z-10 m-0" src="/images/melanie-polkosky.jpg" alt="Photo of Melanie Polkosky">
    </div>
    <div class="block max-w-screen-lg mx-auto -mt-40 relative z-10">
        <h1 class="hero-subtitle">{{page.title}}</h1>
        <h2 class="hero-title">{{page.description}}</h2>
    </div>

</div>

<div class="mt-6 max-w-2xl mx-auto text-lg lg:text-xl longform-text">
    {% capture section_1_content %}{% include_relative about-section-1.md %}{% endcapture %}
    {{ section_1_content | markdownify }}
</div>


<div class="relative max-w-3xl mx-auto">
    <div class="absolute w-full h-full bg-darkGreen border border-slateGray callout-accent z-1"></div>
    <div class="border border-slateGray p-5 md:p-10 flex flex-col sm:flex-row gap-4 items-center bg-darkGreen relative z-2">
        <img class="mb-8 sm:mb-0 sm:mr-6 md:mr-10 book-img" src="/images/uncovering-truffles-book.jpg" alt="Uncovering Truffles by Melanie Polkosky" loading="lazy">
        <div class="block">
            <h4 class="section-heading text-sm mb-2">{{page.callout_title}}</h4>
            <h3 class="text-2xl  md:text-4xl leading-tight">{{page.callout_description}}</h3>
            <a class="link-serif link-arrow text-xl mt-4 inline-block" href="{{page.callout_link}}">Check it out<span>➞</span></a>

        </div>
    </div>
</div>

<div class="mt-10 md:mt-16 max-w-2xl mx-auto text-lg lg:text-xl longform-text">
    {% capture section_2_content %}{% include_relative about-section-2.md %}{% endcapture %}
    {{ section_2_content | markdownify }}
</div>
