---
layout: default
title: About me
description: Psychologist, UX designer-researcher-writer & coach.
animation: diamond
permalink: /about/
section_1_content: >-
  I’m a social-cognitive psychologist, strategist, consultant, researcher,
  writer and certified coach. I earned a Ph.D. in Cognitive and Neural Sciences
  from the University of South Florida, with specialty in interpersonal
  communication, social cognition and applied behavioral research. I also hold a
  Bachelor of Science in Education (English major) and Master of Science in
  Communication Sciences and Disorders.

  After early stints as an educator and clinical speech-language pathologist, I’ve spent most of my career in the User Experience (UX) field, designing speech technology and complex artificial intelligence systems. During my 13 years at IBM, I was certified as a Thought Leader Consultant and provided user experience advocacy, design, education and consulting for many worldwide Fortune 500 clients. I also completed both of IBM’s prestigious global leadership and social responsibility programs, the Corporate Service Corps, in United Arab Emirates, and Executive Service Corps (Smarter Cities Challenge), in Belfast, Northern Ireland.

  I’ve taught a variety of UX courses, including Human Factors Psychology (USF), several in HFI’s Usability Analyst certification program, and one I developed, Conversational UX Bootcamp. I’ve also created and taught a variety of Design Thinking-style workshops for clients.
---

<div class="relative pb-16 -mt-16">
    <div class="mx-auto relative mt-8 md:mt-16 mb-8">
        <div class="absolute w-full h-full border-slateGray border img-accent z-0"></div>
        <img class="relative z-10 m-0" src="/images/melanie-polkosky.jpg" alt="Photo of Melanie Polkosky">
    </div>
    <div class="block max-w-screen-lg mx-auto -mt-40 relative z-10">
        <h1 class="hero-subtitle">{{page.title}}</h1>
        <h2 class="hero-title">{{page.description}}</h2>
    </div>

</div>

<div class="mt-6 max-w-2xl mx-auto text-lg lg:text-xl longform-text">
    {% capture section_1_content %}{% include_relative about-section-1.md %}{% endcapture %}
    {{ section_1_content | markdownify }}
</div>


<div class="relative max-w-3xl mx-auto">
    <div class="absolute w-full h-full bg-darkGreen border border-slateGray callout-accent z-1"></div>
    <div class="border border-slateGray p-5 md:p-10 flex flex-col sm:flex-row gap-4 items-center bg-darkGreen relative z-2">
        <img class="mb-8 sm:mb-0 sm:mr-6 md:mr-10 book-img" src="/images/uncovering-truffles-book.jpg" alt="Uncovering Truffles by Melanie Polkosky" loading="lazy">
        <div class="block">
            <h4 class="section-heading text-sm mb-2">Did you know?</h4>
            <h3 class="text-2xl  md:text-4xl leading-tight">Been there, wrote a book on being a woman in STEM
            </h3>
            <a class="link-serif link-arrow text-xl mt-4 inline-block" href="{{site.book_link}}">Check it out<span>➞</span></a>

        </div>
    </div>
</div>
<div class="mt-10 md:mt-16 max-w-2xl mx-auto text-lg lg:text-xl longform-text">
    {% capture section_2_content %}{% include_relative about-section-2.md %}{% endcapture %}
    {{ section_2_content | markdownify }}
</div>
