---
layout: default
title: Coaching Agreement
description: Just one final step.
permalink: /coaching-agreement/
accordion:
  - title: Coach Responsibilities
    content: "Your coach, Melanie Polkosky, agrees to:"
    list:
      - Act with a high level of professionalism, integrity and honesty.
      - Be an objective, non-judgmental thinking partner and 100% advice free
        when coaching.
      - Focus entirely on assisting you to define and achieve your goals.
      - Honor our conversations with total confidentiality.
      - Provide my professional integrity and expertise to assist you to draw
        out the resources within you that are untapped.
      - Hold you accountable to following through with your commitments to
        yourself.
      - Support you as you move forward in the areas important to you, knowing
        every challenge is an opportunity to empower and build on your
        self-understanding, meaning and creative work.
      - Abide by the International Coaching Federation’s [Code of
        Ethics](https://coachfederation.org/code-of-ethics).
      - Follow the laws of the state of Tennessee and the greater United States.
    accordion_list:
      - accordion_list_content: Act with a high level of professionalism, integrity and honesty.
  - title: Client Responsibilities
    content: "You agree to:"
    list:
      - Arrive to sessions on time and fully focused without distraction for the
        duration of our time together.
      - Be willing to be open to discovering blindspots, beliefs or patterns
        that, as your Coach, I might notice are blocking you from achieving your
        goals.
      - Be willing to explore underlying stories that may be keeping you stuck.
      - Bring a high degree of integrity and honesty to the coaching session.
      - Allow yourself to be open to new possibilities, varied ideas and unique
        ways of finding solutions.
      - Be 100% responsible, accountable and committed to creating the results
        you want and follow through with what you declare in our sessions.
  - title: Coaching Fee & Package
    content: The Coaching Period is generally considered to be a series of 12
      sessions, usually occurring within 3 to 6 months. However, it may be
      extended as needed by agreement between Client and Coach. And, it may be
      ended at any time Client and Coach agree goals have been met or with 7
      days’ notice.
  - title: Session Participation & Confidentiality
    list:
      - Each session will be 1 hour in duration.
      - I prefer audio-only (phone call) for sessions, since research suggests
        that it allows for deeper listening. Zoom sessions are also available by
        request.
      - At the scheduled session time, please call me at 901-651-7485 (or as
        otherwise agreed).
      - I’ll send an email follow-up, usually within 24-48 hours after a
        session, with a summary and any additional questions or takeaways you’d
        like to highlight from the session.
      - All interactions will remain strictly confidential; no information about
        your or the sessions will be disclosed without prior written consent.
      - Legal confidentiality does not apply in criminal or delinquency
        proceedings, or with intent to harm oneself or another human being,
        suspected child abuse, a court order or other health situations.
      - For my own certification purposes, I will need to supply your name,
        contact information and number of hours coached to the International
        Coaching Federation. No information about the session itself will be
        disclosed.
  - title: Terms of Payment
    list:
      - Please email me at
        [melanie@melaniepolkosky.com](mailto:melanie@melaniepolkosky.com) to
        schedule a session, or request next appointment scheduling at the end of
        any coaching session.
      - The agreed fee will be invoiced following each session and may be paid
        online.
      - I offer two assessment tools, including the EQi 2.0 and Energy
        Leadership Index, for a separate fee that are not included in the
        regular coaching fee. These may be requested for a discounted fee during
        the coaching relationship.
      - If preferred, PayPal or check via snail mail may also be used as needed.
  - title: Cancellation
    list:
      - Please provide 24 hour notice to cancel or reschedule a session.
      - If notice is given in less than 24 hours, the session if forfeit and
        will be charged, except in the case of unexpected emergencies or
        illness.
      - The Coach will give 24 hour notice for unexpected changes in the
        schedule, except in the case of unforeseen emergencies.
      - Late arrival to a session will reguire that the session is shortened
        accordingly.
      - Should there be any concerns that the parties are unable to resolve,
        both parties agree to the use of mediation to resolve these issues.
---

{% include hero-minimal.html %}

<div class="max-w-2xl mx-auto md:text-xl my-24">
    <p class="mb-4 text-2xl md:text-3xl font-display">Hi there,</p>
    <p class="leading-relaxed">In order to complete our agreement, I just need you to take a read through the coaching agreement below and then fill out the short form. If you've any questions about this, <a href="mailto:{{site.email}}">just shoot me an email</a>.</p>
    <p class="mt-4">&ndash; Melanie </p>
</div>


<form name="Coaching Agreement" netlify netlify-honeypot="bot-field" class="mb-12 mx-auto max-w-3xl" action="/thanks/">
  {% assign i = 2 %}

  <div class="tab w-full overflow-hidden bg-darkerGreen border-darkestGreen border-2 mb-12">
		  <input class="absolute opacity-0" id="tab-multi-{{i | minus: 1}}" type="checkbox">
		  <label class="flex flex-row items-center relative w-full p-3 md:p-6 leading-normal cursor-pointer text-2xl md:text-3xl font-display text-white" for="tab-multi-{{i | minus: 1}}">
      <span class="mr-auto">{{i | minus: 1}}. Please fill out this form</span>
      <svg class="w-6 h-6 md:w-8 md:h-8 icon transition-transform duration-150 transform rotate-0" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.398.367L.234.531a.27.27 0 000 .399l4.57 4.57-4.57 4.594a.27.27 0 000 .398l.164.164a.27.27 0 00.399 0l4.945-4.945a.27.27 0 000-.399L.797.367a.27.27 0 00-.399 0z" fill="currentColor"/></svg>
      </label>
		  <div class="tab-content overflow-hidden">
        <div class="text-xl max-w-3xl mx-auto bg-white px-6 pt-6 md:px-12 lg:px-16 md:pt-12 lg:pt-16 pb-8">
          <!-- <h2 class="font-display text-offBlack text-2xl sm:text-3xl md:text-4xl mb-2 leading-tight">Please fill out the form below.</h2>
          <div class="h-1 bg-aquamarine w-12 md:w-16 mb-6 md:mb-12"></div> -->
          <!-- <div class="mb-12">
            <label class="flex justify-start items-start">
                  <input type="checkbox" required class="rounded-none w-16 h-16 sm:w-10 sm:h-10 lg:w-7 lg:h-7 mr-4 sm:mr-2">
                <div class="select-none text-base md:text-lg text-gray-700 font-medium">I have read the Policy Statement above and understand my rights and responsibilities as a Client.</div>
              </label>
          </div> -->

          {% include input.html label="Your Name" type="text" id="name" required="true" placeholder="Enter your full name" %}

          {% include textarea.html label="Mailing address" id="address" required="true" placeholder="" %}

          {% include input.html label="Preferred Phone Number" type="text" id="phone" required="true" placeholder="Your preferred mobile or telephone number" %}

          {% include input.html label="Email address" type="email" id="email" required="true" placeholder="Your preferred email address" %}

          {% include input.html label="Coaching fee per session" type="text" id="price" required="true" placeholder="The fee you would like to pay per session" %}

          <!-- {% include hr.html spacing="mt-6 mb-4 md:mt-8 md:mb-6 lg:mt-12 lg:mb-8" %} -->

          <!-- <h2 class="font-display text-offBlack text-2xl md:text-3xl mb-2">Your alternate contact</h2>
          <p class="text-gray-700 mb-8 md:mb-12">I’ll use these details only in an emergency where I’m unable to reach you at your main points of contact.</p>

          {% include input.html label="Alternate Contact Name" type="text" id="alternate_contact_name" required="true" placeholder="Full name of an alternate contact" %}

          {% include input.html label="Alternate Contact Relationship" type="text" id="alternate_contact_relationship" required="false" placeholder="The relationship you have with the contact" %}

          {% include input.html label="Alternate Contact Phone Number" type="text" id="alternate_phone_number" required="true" %} -->

          <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>

        </div>
		  </div>
		</div>
  {% for item in page.accordion %}
		<div class="tab w-full overflow-hidden bg-darkerGreen border-darkestGreen border-2 mb-12">
		  <input class="absolute opacity-0" id="tab-multi-{{i}}" type="checkbox">
		  <label class="flex flex-row items-center relative w-full p-3 md:p-6 leading-normal cursor-pointer text-2xl md:text-3xl font-display text-white" for="tab-multi-{{i}}">
      <span class="mr-auto">{{i}}. {{item.title}}</span>
      <svg class="w-6 h-6 md:w-8 md:h-8 icon transition-transform duration-150 transform rotate-0" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.398.367L.234.531a.27.27 0 000 .399l4.57 4.57-4.57 4.594a.27.27 0 000 .398l.164.164a.27.27 0 00.399 0l4.945-4.945a.27.27 0 000-.399L.797.367a.27.27 0 00-.399 0z" fill="currentColor"/></svg>
      </label>
		  <div class="tab-content overflow-hidden">
        <div class="px-3 py-6 md:p-6 pb-0 w-full longform-text markdown-text text-white md:text-xl border-t-2 border-darkestGreen">
          <p class="mb-4">{{item.content}}</p>
          <ul class="list--tab-content">
            {% for item in item.list %}
            <li>{{item | markdownify}}</li>
            {% endfor %}
          </ul>
        </div>
		  </div>
		</div>
    {% assign i = i | plus:1 %}
  {% endfor %}
  <div class="bg-darkerGreen border-darkestGreen border-2 mb-12 p-6 text-white">
    <h3 class="flex flex-row items-center relative w-full leading-normal cursor-pointer text-2xl md:text-3xl font-display text-white mb-2">{{i}}. Acknowledgement</h3>
    <p class="text-xl mb-10 opacity-75">I declare that I am coachable and will honor my commitments to myself and to the coaching process. I have reviewed the policies and procedures in this document and understand the details fo the coaching relationship. I hereby agree to these terms.</p>
    <label class="flex justify-start items-start">
        <input name="agreement" id="agreement" value="Yes" type="checkbox" required class="rounded-none w-16 h-16 sm:w-10 sm:h-10 lg:w-7 lg:h-7 mr-4 sm:mr-2">
      <div class="select-none text-base md:text-lg lg:text-xl text-white font-medium">Yes, I agree</div>
    </label>
	</div>


  <button class="font-display font-bold bg-aquamarine px-5 relative no-underline text-darkerGreen text-2xl w-full block py-5 transition-all transform duration-200 hover:bg-lightAquamarine" type="submit">Submit</button>
</form>