---
layout: default
title: Coaching
description: ICF-certified professional career, life & executive coach.
animation: petals
permalink: /coaching/
id: coaching
callouts:
    - title: Download my free coaching packet
      description: Download my introductory coaching packet to learn more about what I can do for you.
      animation: polygon
      link: #
      id: "coaching-packet"
    - title: Get a free 30-minute coaching session
      description: It’s a low-risk way to learn more about coaching and get a taste of my coaching style.
      animation: triangle
      link: mailto:melanie@melaniepolkosky.com?subject=I%20would%20like%20a%20free%2030-minute%20coaching%20session
      id: "coaching-session"
redirect_from:
    - /energy-leadership-index/
    - /ux-consulting-coaching/
    - /career-life-coaching/
---

{% include hero.html %}

<div class="mt-6 md:mt-16 max-w-2xl mx-auto text-lg lg:text-xl longform-text markdown-text">
    {% capture section_1_content %}{% include_relative coaching-section-1.md %}{% endcapture %}
    {{ section_1_content | markdownify }}
    <!-- <h2 class="longform-title">What is coaching?</h2>
    <p>The International Coaching Federation (ICF) defines coaching as “partnering with Clients in a thought-provoking and
    creative process that inspires them to maximize their personal and professional potential.”</p>


    <p>The coach’s role is to hold Clients as whole, capable, resourceful and creative. During a session, I ask provocative
    questions to support my Clients in unlocking their own internal wisdom about what they really want and how to overcome
    what’s blocking them. I assist Clients in hearing their own voices more clearly.</p>

    <!-- <img class="max-w-3xs mx-auto mb-8" src="/images/associate-certified-coach-acc.png" alt="Associate Certified Coach Badge"> -->

    <!-- <p>As an Associate Certified Coach (ACC), I adhere to the ICF’s <a href="https://coachfederation.org/code-of-ethics">Code of Ethics</a> and <a href="https://coachfederation.org/core-competencies">Core Competencies</a>. ICF credentials are the international gold standard in coaching preparation. The ACC indicates I completed an accredited coaching program, completed over 100 Client coaching hours and passed an exam at the time it was awarded. I’m currently working toward the Professional Certified Coach (PCC) credential.</p>

    {% include blockquote.html quote="Coaching is a thought-provoking and creative process that inspires client’s maximum potential." %}

    <h2 class="longform-title">Why Coaching?</h2>

    <p>There are many reasons why people come to coaching. One of the most common is a crossroads: finding yourself at a turning point but not know which way to go. Others finally get tired of being tired, unhappy, or dissatisfied with their career or life in general. Some feel stuck, with no way out or through.</p>

    <p>Many clients who choose to coach with me do so because I’ve had a similar career to one they imagine for themselves, in
    a STEM, User Experience or creative field. I deeply understand the rewards and challenges of being the lone woman in male-dominated professions or a fish out of water in other ways. When appropriate, I offer combination mentoring-coaching, to support clients’ continued professional skill development while helping them tap their own inner wisdom.</p>

    <p>Other clients coach with me for a very different reason: because I’m a cognitive psychologist and former clinical speech-language pathologist, I have broad knowledge of various disabilities. I’ve coached a variety of caregivers of family members with special needs, supporting them through the most challenging role of their lives.</p>

    <p>Regardless of what brings them to the process, what all coaching clients have in common is a small voice telling them things don’t have to be this way. There must be something better.</p> -->

    <!-- <p>And there it is. It just takes one step.</p> -->

    <div class="flex flex-col text-center mt-16">
        <img class="max-w-xs w-56 mx-auto" src="/images/icf-logo.svg" alt="ICF logo">
        <p class="pt-2 text-sm">ICF-certified professional coach</p>
    </div>

</div>

{% include hr.html %}

<h2 class="text-4xl text-center mb-8">Testimonials</h2>

<div class="tabs overflow-auto whitespace-no-wrap w-full flex max-w-5xl flex-row mx-auto justify-start md:justify-center items-center relative mb-16">
    {% assign i = 0 %}
    {% for item in site.testimonials reversed %}
        <button class="tab-link leading-tight md:text-lg xl:text-xl p-6 block w-full hover:text-white transition duration-300 tab border-t-0 border-l-0 border-r-0 outline-none font-medium nowrap {% if i == 0 %}tab-active{% endif %}" onclick="openTab(event, 'testimonial{{i}}')">{{item.title}}</button>
        {% assign i = i | plus:1 %}
    {% endfor %}
    <!-- {% include tab-link.html name="Product Designer" id="testimonial1" active="active"%}
    {% include tab-link.html name="Product Manager" id="testimonial2" %}
    {% include tab-link.html name="Operations Manager" id="testimonial3" %}
    {% include tab-link.html name="UX Researcher" id="testimonial4" %} -->
    <!-- <div class="w-1/3 h-px bg-white absolute bottom-0 left-0"></div> -->
</div>

{% assign x = 0 %}
{% for item in site.testimonials reversed %}
    <div id="testimonial{{x}}" class="tabcontent" {% if x != 0 %}style="display: none;"{% endif %}>
        <div class="grid grid-cols-1 lg:grid-cols-5 lg:gap-16">
            <div class="col-span-2 text-center">
                <img src="{{item.image}}" alt="Disguised photo of {{item.title}}" loading="lazy">
                <!-- <blockquote class="mx-auto font-display text-3xl font-bold py-6 mb-8 text-right">
                    <p class="mb-0 leading-snug">Melanie has given me a strong set of tools for dealing with hard situations and decisions</p>
                </blockquote> -->
            </div>
            <div class="col-span-3 longform-text markdown-text text-lg lg:text-xl mt-8">
                <h3 class="text-silver text-base uppercase font-medium tracking-widest font-body">{{item.type}}</h3>
                <h4 class="longform-title text-3xl md:text-4xl leading-tight mb-6">{{item.title}}, {{item.job}}</h4>
                {{item.content}}
            </div>
        </div>
    </div>
    {% assign x = x | plus:1 %}
{% endfor %}

{% include hr.html %}

<h2 class="text-3xl md:text-4xl text-center mb-16 lg:mb-24">Want to learn more?</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-16">
    {% for item in page.callouts %}
    <a id="{{item.id}}" href="{{item.link}}" class="relative w-100 h-100 text-white cta cta-hover">
        <div class="absolute w-full h-full bg-darkGreen cta-accent z-1"></div>
        <div
            class="min-h-full items-center bg-darkGreen relative z-2 cta-hover-box grid lg:grid-cols-2">
            <div class="relative z-2 mx-auto" id="{{item.animation}}"></div>
            <div class="block p-6 border border-r-0 border-t-1 md:border-t-o border-b-0 border-l-0 lg:border-l cta-hover-line lg:min-h-full">
                <h3 class="text-3xl leading-tight mb-3">{{item.title}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>