---
layout: default
title: Coaching
description: ICF-certified professional career, life & executive coach.
animation: petals
permalink: /coaching/
id: coaching
callouts:
    - title: Download my free coaching packet
      description: Download my introductory coaching packet to learn more about what I can do for you.
      animation: polygon
      link: #
      id: "coaching-packet"
    - title: Get a free 30-minute coaching session
      description: It’s a low-risk way to learn more about coaching and get a taste of my coaching style.
      animation: triangle
      link: mailto:melanie@melaniepolkosky.com?subject=I%20would%20like%20a%20free%2030-minute%20coaching%20session
      id: "coaching-session"
redirect_from:
    - /energy-leadership-index/
    - /ux-consulting-coaching/
    - /career-life-coaching/
---

{% include hero.html %}

<div class="mt-6 md:mt-16 max-w-2xl mx-auto md:text-lg lg:text-xl longform-text">
    <h2 class="longform-title">What is coaching?</h2>
    <p>The International Coaching Federation (ICF) defines coaching as “partnering with Clients in a thought-provoking and
    creative process that inspires them to maximize their personal and professional potential.”</p>


    <p>The coach’s role is to hold Clients as whole, capable, resourceful and creative. During a session, I ask provocative
    questions to support my Clients in unlocking their own internal wisdom about what they really want and how to overcome
    what’s blocking them. I assist Clients in hearing their own voices more clearly.</p>

    <p>As an Associate Certified Coach (ACC), I adhere to the ICF’s <a href="https://coachfederation.org/code-of-ethics">Code of Ethics</a> and <a href="https://coachfederation.org/core-competencies">Core Competencies</a>. ICF credentials are the international gold standard in coaching preparation. The ACC indicates I completed an accredited coaching program, completed over 100 Client coaching hours and passed an exam at the time it was awarded. I’m currently working toward the Professional Certified Coach (PCC) credential.</p>

    {% include blockquote.html quote="Coaching is a thought-provoking and creative process that inspires client’s maximum potential." %}

    <h2 class="longform-title">Why Coaching?</h2>

    <p>There are many reasons why people come to coaching. One of the most common is a crossroads: finding yourself at a turning point but not know which way to go. Others finally get tired of being tired, unhappy, or dissatisfied with their career or life in general. Some feel stuck, with no way out or through.</p>

    <p>Many clients who choose to coach with me do so because I’ve had a similar career to one they imagine for themselves, in
    a STEM, User Experience or creative field. I deeply understand the rewards and challenges of being the lone woman in male-dominated professions or a fish out of water in other ways. When appropriate, I offer combination mentoring-coaching, to support clients’ continued professional skill development while helping them tap their own inner wisdom.</p>

    <p>Other clients coach with me for a very different reason: because I’m a cognitive psychologist and former clinical speech-language pathologist, I have broad knowledge of various disabilities. I’ve coached a variety of caregivers of family members with special needs, supporting them through the most challenging role of their lives.</p>

    <p>Regardless of what brings them to the process, what all coaching clients have in common is a small voice telling them things don’t have to be this way. There must be something better.</p>

    <p>And there it is. It just takes one step.</p>

    <div class="flex flex-col text-center mt-16">
        <img class="max-w-xs w-56 mx-auto" src="/images/icf-logo.svg" alt="ICF logo">
        <p class="pt-2 text-sm">ICF-certified professional coach</p>
    </div>

</div>

{% include hr.html %}

<h2 class="text-4xl text-center mb-8">Testimonials</h2>

<div class="tabs w-full max-w-2xl flex flex-row mx-auto justify-center items-center relative mb-16">
    {% include tab-link.html name="One" id="testimonial1" active="active"%}
    {% include tab-link.html name="Two" id="testimonial2" %}
    {% include tab-link.html name="Three" id="testimonial3" %}
    {% include tab-link.html name="Four" id="testimonial4" %}
    <!-- <div class="w-1/3 h-px bg-white absolute bottom-0 left-0"></div> -->
</div>

<div id="testimonial1" class="tabcontent">
    <div class="grid grid-cols-1 lg:grid-cols-5 lg:gap-16">
        <div class="col-span-2 text-center">
            <img src="/images/testimonial-1.jpg" alt="Disguised photo of testimonial #1" loading="lazy">
            <!-- <blockquote class="mx-auto font-display text-3xl font-bold py-6 mb-8 text-right">
                <p class="mb-0 leading-snug">Melanie has given me a strong set of tools for dealing with hard situations and decisions</p>
            </blockquote> -->
        </div>
        <div class="col-span-3 longform-text md:text-lg lg:text-xl mt-8">
            <h3 class="text-silver text-base uppercase font-medium tracking-widest font-body">Testimonial 01 &bull; Coaching</h3>
            <h4 class="longform-title text-3xl md:text-4xl leading-tight mb-6">Product designer, Square</h4>
            <p>I’ve been talking to Melanie for about three years and the ROI is clear &mdash; she has helped me negotiate a 40k raise at one job and 3 months of vacation at another (both of which I thought were impossible before talking to her). But the most valuable part of working with Melanie is not financial.</p>

            <p>Like many women, I grew up valuing politeness and conflict-avoidance over expressing my own needs and opinions. That has not served me well working in tech, where both UX design and traditionally-female traits are often overlooked and undervalued. Melanie has challenged me to become more assertive, addressing conflict or directly asking for what I want rather than stewing in resentment.</p>

            {% include blockquote.html quote="&ldquo;I have recommended Melanie to many friends, and would encourage anyone considering coaching to give it a try.&rdquo;" %}


            <p>I've shifted toward having confidence in my worth as a designer and toward trusting my own beliefs and interpretations of the world, even when they don’t line up with others’. She has also helped me find ways to have influence at work and convince others of my ideas when I assumed no one would change their mind. I still have plenty of anxiety and work challenges, but Melanie has given me a strong set of tools for dealing with hard situations and decisions. I have recommended her to many friends, and would encourage anyone considering coaching to give it a try.</p>
        </div>
    </div>
</div>

<div id="testimonial2" class="tabcontent" style="display: none;">
    <div class="grid grid-cols-1 lg:grid-cols-5 lg:gap-16">
        <div class="col-span-2 text-center">
            <img class="text-center" src="/images/testimonial-2.jpg" alt="Disguised photo of testimonial #2" loading="lazy">
        </div>
        <div class="col-span-3 longform-text md:text-lg lg:text-xl mt-8">
            <h3 class="text-silver text-base uppercase font-medium tracking-widest font-body">Testimonial 02 &bull; Coaching</h3>
            <h4 class="longform-title text-3xl md:text-4xl leading-tight mb-6">Product Manager, Tech Startup</h4>
            <p>Working with Melanie has been wonderful!  Even after a few sessions, I have so many new tools with which to tackle my biggest challenges. I deeply appreciate her ability to provide both technical, in-the-weeds advice for growing my career AND guidance when it comes to bigger picture issues (imposter syndrome! gender bias!).</p>

            {% include blockquote.html quote="&ldquo;I would highly recommend Melanie to anyone looking for a kind, empowering, empathetic partner in their journey of self-care and self-improvement.&rdquo;" %}

            <p>I personally love that she often provides feedback in the form of observations (“Because you did this”, “I am hearing this”) rather than opinions — it really makes her assessments believable and impactful! I would trust Melanie with addressing a broad range of goals — she’s worked with so many diverse industries and clients within her UX career, and her speech pathology background has really enhanced our coaching. I would highly recommend Melanie to anyone looking for a kind, empowering, empathetic partner in their journey of self-care and self-improvement.</p>
        </div>
    </div>
</div>

<div id="testimonial3" class="tabcontent" style="display: none;">
    <div class="grid grid-cols-1 lg:grid-cols-5 lg:gap-16">
        <div class="col-span-2 text-center">
            <img class="text-center" src="/images/testimonial-3.jpg" alt="Disguised photo of testimonial #3" loading="lazy">
        </div>
        <div class="col-span-3 longform-text md:text-lg lg:text-xl mt-8">
            <h3 class="text-silver text-base uppercase font-medium tracking-widest font-body">Testimonial 03 &bull; Coaching</h3>
            <h4 class="longform-title text-3xl md:text-4xl leading-tight mb-6">Operations Manager, Mayor's Office of New York City</h4>
            <p>I came to Melanie feeling lost about my career trajectory. I have worked in the public and nonprofit sector for over a decade and was feeling like I didn’t have much to show for the work I had done. Through Melanie’s coaching sessions, I have transformed my outlook. She helped me identify my strengths and all the skills I have acquired throughout my career path. The work I did with Melanie helped propel me to a new job. While I don’t think this job is my dream job, I am more satisfied at work and I am feeling more hopeful about the opportunities available to me.</p>

            {% include blockquote.html quote="&ldquo;Melanie approaches each session with genuine curiosity and care, and I always walk away with a little more clarity about myself.&rdquo;" %}

            <p>Melanie was also extremely helpful in navigating discussions with my supervisor, including dealing with negative feedback and asking for a raise (which I was able to receive!). Melanie helped me dissect the issues with my supervisor and helped guide my perspective to grow from a position of fear and helplessness to one of empowerment and action.</p>

            <p>I highly recommend Melanie’s coaching services. She approaches each session with genuine curiosity and care, and I always walk away with a little more clarity about myself. Don’t miss out on the opportunity to work with Melanie!</p>


            <p></p>
        </div>
    </div>
</div>

<div id="testimonial4" class="tabcontent" style="display: none;">
    <div class="grid grid-cols-1 lg:grid-cols-5 lg:gap-16">
        <div class="col-span-2 text-center">
            <img class="text-center" src="/images/testimonial-4.jpg" alt="Disguised photo of testimonial #3"
                loading="lazy">
        </div>
        <div class="col-span-3 longform-text md:text-lg lg:text-xl mt-8">
            <h3 class="text-silver text-base uppercase font-medium tracking-widest font-body">Testimonial 04 &bull; Mentoring</h3>
            <h4 class="longform-title text-3xl md:text-4xl leading-tight mb-6">UX Researcher, Wall Street Journal</h4>
            <p>Two years ago, I started my career working with her as a freelance UX designer and researcher, I had just come out of a
            UX bootcamp with little prior UX experience and only a vague idea of the direction in which I wanted to go. I quickly
            realized I had struck gold with Melanie. She has since clocked in countless hours of mentorship to help me gain clarity in my professional goals and how to attain them.</p>

            {% include blockquote.html quote="&ldquo;She has been my biggest cheerleader and an essential source of guidance and knowledge for every major milestone in my budding career.&rdquo;" %}

            <p>Before starting my full-time role as a lead UX researcher nearly a year ago now, Melanie
            reached into her wealth of experience to equip me with a framework to understand my role on my new team and in my new
            company; she gave me guidance on how I could utilize my experience and skills to build trust with my new colleagues. She
            could also sense the doubt and nerves and told me I was more than qualified for my new role, to relax, and just soak up
            my new environment. Like Melanie always does, she knew exactly how to build confidence in my own abilities to face the
            next big step in my career.</p>
            <p>I always keep detailed notes of all our conversations and refer to them often as sources of strength, knowledge, and inspiration because she also happens to be so darn articulate! I can say with absolute
            certainty that Melanie is in a league of her own and deserves so much credit for my growth as a UX researcher and
            professional.</p>

        </div>
    </div>
</div>

{% include hr.html %}

<h2 class="text-3xl md:text-4xl text-center mb-16 lg:mb-24">Want to learn more?</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-16">
    {% for item in page.callouts %}
    <a id="{{item.id}}" href="{{item.link}}" class="relative w-100 h-100 text-white cta cta-hover">
        <div class="absolute w-full h-full bg-darkGreen cta-accent z-1"></div>
        <div
            class="min-h-full items-center bg-darkGreen relative z-2 cta-hover-box grid lg:grid-cols-2">
            <div class="relative z-2 mx-auto" id="{{item.animation}}"></div>
            <div class="block p-6 border border-r-0 border-t-1 md:border-t-o border-b-0 border-l-0 lg:border-l cta-hover-line lg:min-h-full">
                <h3 class="text-3xl leading-tight mb-3">{{item.title}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>