---
layout: default
title: Coaching Agreement & Acknowledgement
description: Just one final step.
permalink: /coaching-agreement/
---

{% include hero-minimal.html %}

<div class="max-w-2xl mx-auto text-xl my-24">
    <p class="mb-4 text-3xl font-display">Hi there,</p>
    <p class="leading-relaxed">In order to complete our agreement, I just need you to fill out this short form below. This provides me with the necessary details to contact you and shows that we're both in agreement in the details outlined in the Coaching Packet that was sent to you. If you've any questions about this, <a href="mailto:{{site.email}}">just shoot me an email</a>.</p>
    <p class="mt-4">&ndash; Melanie </p>
</div>


    <form name="Coaching Agreement" netlify class="text-xl max-w-3xl mx-auto bg-white px-12 pt-12 lg:px-16 lg:pt-16 pb-12" netlify-honeypot="bot-field" data-netlify="true" action="thanks">
        <h2 class="font-display text-offBlack text-3xl md:text-4xl mb-2">Please fill out the form below.</h2>
        <div class="h-1 bg-aquamarine w-16 mb-12"></div>
        {% include input.html label="Your Name" type="text" id="name" required="true" placeholder="Enter your full name" %}

        {% include textarea.html label="Mailing address" id="address" required="true" placeholder="" %}

        {% include input.html label="Preferred Phone Number" type="text" id="phone" required="true" placeholder="Your preferred mobile or telephone number" %}

        {% include input.html label="Preferred Email" type="email" id="email" required="true" placeholder="Your preferred email address" %}

        {% include input.html label="Name of Employer and Position" type="text" id="employer_position" required="true" placeholder="Your current employer and what your job position is" %}

        {% include textarea.html label="Names and Ages of Partner/Spouse, Children and other significant individuals in your life you’d like me to be aware of" id="awarenesses" placeholder="" %}

        {% include textarea.html label="What is your goal for coaching? Why is this important to you?" id="goals" placeholder="" %}

        <div class="mb-12">
            <label class="flex justify-start items-start">
                  <input type="checkbox" required class="rounded-none w-7 h-7 mr-2">
                <div class="select-none text-lg text-gray-700 font-medium">I have read the Policy Statement and understand my rights and responsibilities as a Client.</div>
              </label>
        </div>

        <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>

        <button class="font-display font-bold bg-darkGreen px-5 relative no-underline text-white text-2xl w-full block py-5 transition-all transform duration-200 hover:bg-darkerGreen" type="submit">Submit</button>

    </form>
