---
layout: default
subtitle: Hey! Melanie here
description: I’m a social-cognitive psychologist who designs with words.
intro_column_1: "Words are magical. Words &ndash; linguistics and social
  interaction &ndash; have been the focus of a career that has found me as a
  teacher, writer, therapist, conversational interface designer, researcher, and
  professional coach. I’ve designed an eclectic career that seems unlikely at
  best, bizarre at worst, or just plain lucky. "
intro_column_2: "The throughline is this: I’m endlessly fascinated by simple,
  ordinary, everyday conversation. So, I’ve spent a career gathering as much
  knowledge and skill as possible in communicating with purpose. I’m a case
  study in following your inspiration, wherever it leads. "
timeline:
  - timeline_item_date: February 2022
    timeline_item_title: Senior UX Research Manager
    timeline_item_quote: '"I want to nurture a large team."'
  - timeline_item_date: 2014 &ndash; 2022
    timeline_item_title: UX Freelance, Writer & Professional Coach
    timeline_item_quote: I want to follow my muse.
  - timeline_item_date: 2018 &ndash; 2020
    timeline_item_title: Senior VP at Irish startup, UX Researcher/Writer & Coach
    timeline_item_quote: I want to nurture the next generation.
  - timeline_item_date: 2002 &ndash; 2014
    timeline_item_title: IBM UX Consultant
    timeline_item_quote: I design machines that talk.
  - timeline_item_date: 1999 &ndash; 2002
    timeline_item_title: Graduate School
    timeline_item_quote: I study linguistics, cognition and social interaction.
  - timeline_item_date: 1993 &ndash; 1999
    timeline_item_title: Speech-Language Pathologist
    timeline_item_quote: I help people communicate better.
  - timeline_item_date: 1988 &ndash; 1992
    timeline_item_title: High School Teacher
    timeline_item_quote: I love linguistics. I’ll teach teenagers to write.
talks_interviews:
  - title: UX Collective
    description: Does UX have an imposter problem?
    link: https://uxdesign.cc/does-ux-have-an-imposter-problem-1c9ad8f6c13e
    date: February 2020
  - title: UX Collective
    description: "When less is more: Minimalist personas in UX"
    link: https://uxdesign.cc/when-less-is-more-minimalist-personas-in-ux-f2ba742f0634
    date: August 2020
  - title: Silicon Republic
    description: Career Profile in Silicon Republic
    date: Apr 2020
    link: https://www.siliconrepublic.com/people/melanie-polkosky-sweepr
  - title: UX Cake Podcast
    description: The Cognitive Diversity Issue in UX
    date: Aug 2019
    link: https://shows.acast.com/uxcake/episodes/cognitive-diversity
  - title: Tech Savvy Women
    description: Advice for Women in Tech
    date: Jul 2015
    link: https://techsavvywomen.net/dr-melanie-polkosky-offers-advice-for-women-in-tech-careers/
social:
  - name: LinkedIn
    link: https://www.linkedin.com/in/melaniepolkosky
  - name: Twitter
    link: https://twitter.com/melaniepolkosky?lang=en
  - name: Medium
    link: https://medium.com/@melaniepolkosky
  - name: Quora
    link: https://www.quora.com/profile/Melanie-Polkosky
---

<div class="mb-16 mt-8 md:mt-16 lg:mt-36">
    <div class="flex items-center delay-1 fade-move-in">
        <h2 class="hero-subtitle mr-3">{{page.subtitle}}</h2>
            <img class="w-6 md:w-8 wave" src="/images/handwave.svg" alt="Hand wave icon">
    </div>

    <h1 class="text-4xl sm:text-5xl lg:text-6xl xxl:text-9xl leading-tight mt-2 fade-move-in delay-2">{{page.description}}</h1>

    <div class="mt-10 lg:mt-20 grid lg:grid-cols-2 gap-6 lg:gap-12 md:text-lg md:leading-8">
        <div class="fade-move-in delay-3">
            <p>{{page.intro_column_1}}</p>
        </div>
        <div class="fade-move-in delay-4">
            <p>{{page.intro_column_2}}</p>
            <a class="link-serif link-arrow text-lg mt-8 inline-block" href="/about">Learn more about me <span>➞</span></a>
        </div>
    </div>
</div>

{% include hr.html %}

<section>
    <div class="grid lg:grid-cols-2 lg:gap-12">
        <h3 class="section-heading">Timeline</h3>
        <div class="flex flex-col lg:-ml-5">
            <div class="timeline relative flex flex-col lg:-ml-5">
                <div class="timeline-line w-px absolute z-1"></div>
                {% for item in page.timeline %}
                    {% include timeline-item.html %}
                {% endfor %}
            </div>
            <a class="link-serif link-arrow text-lg lg:ml-5 mt-16 inline-block" href="https://www.linkedin.com/in/melaniepolkosky">Learn more on LinkedIn <span>➞</span></a>
        </div>

    </div>
</section>

{% include hr.html %}

<section>
    <div class="grid lg:grid-cols-2 lg:gap-12">
        <h3 class="section-heading">Articles, Talks & Interviews</h3>
        <div class="relative flex flex-col">
            {% for item in page.talks_interviews %}
                {% include talk-item.html %}
            {% endfor %}
            <a class="link-serif link-arrow text-lg mt-16 inline-block" href="/writing">See more of my writing <span>➞</span></a>
        </div>
    </div>
</section>

{% include hr.html %}

<section class="mb-16 lg:mb-24">
    <div class="grid lg:grid-cols-2 lg:gap-12">
        <h3 class="section-heading">Where you can find me</h3>
        <ul class="flex flex-col list-none">
            {% for item in page.social %}
                {% include social-item.html %}
            {% endfor %}
        </ul>
    </div>
</section>
