<div class="tab w-full overflow-hidden border border-silver">
    <input class="absolute opacity-0 " id="tab-multi-one" type="checkbox" name="tabs">
    <label class="flex flex-row items-center relative w-full p-5 leading-normal cursor-pointer text-3xl font-display text-white" for="tab-multi-one">
<span class="mr-auto">Coaching Responsibilities</span>
<svg class="w-8 h-8 icon transition-transform duration-150 transform rotate-0" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.398.367L.234.531a.27.27 0 000 .399l4.57 4.57-4.57 4.594a.27.27 0 000 .398l.164.164a.27.27 0 00.399 0l4.945-4.945a.27.27 0 000-.399L.797.367a.27.27 0 00-.399 0z" fill="currentColor"/></svg>
</label>
    <div class="tab-content overflow-hidden">
<div class="p-6 pb-0 w-full longform-text markdown-text text-white text-xl border-t border-silver">
    <p class="mb-4">Your coach, Melanie Polkosky, agrees to:</p>
    <ul>
    <li>Act with a high level of professionalism, integrity and honesty</li>
    <li>Be an objective, non-judgmental thinking partner and 100% advice free when coaching</li>
    </ul>
</div>
    </div>
</div>