
<footer class="pt-12 pb-12 text-center">
    <h4 class="text-offBlack text-lg">Explore, design, validate, repeat</h4>
    <a class="uppercase tracking-widest text-slateGray hover:text-aquamarine font-medium text-xs" href="">Back to top <span>↑</span></a>
</footer>

{% if page.animation %}
<script src="/scripts/HaikuCore.5.0.0.min.js"></script>
{% endif %}

{% if page.animation == "diamond" %}
<!-- Diamond Anim -->
<script src="/scripts/diamond-anim.js"></script>
{% endif %}

{% if page.animation == "venn" %}
<!-- Venn anim -->
<script src="/scripts/venn-anim.js"></script>
{% endif %}

{% if page.animation == "petals" %}
<!-- Petals anim -->
<script src="/scripts/petals-anim.js"></script>
{% endif %}

{% if page.permalink == "/coaching/" %}
<!-- Coaching packet anim -->
<script src="/scripts/polygon-anim.js"></script>
<!-- Coaching session anim -->
<script src="/scripts/triangle-anim.js"></script>
{% endif %}

{% if page.animation == "h-and-w" %}
<!-- H & W anim -->
<script src="/scripts/h-and-w-anim.js"></script>
{% endif %}

{% if page.animation == "bowls" %}
<!-- Bowls anim -->
<script src="/scripts/bowls-anim.js"></script>
{% endif %}

{% if page.animation == "sweepr" %}
<!-- Sweepr anim -->
<script src="/scripts/sweepr-anim.js"></script>
{% endif %}

{% if page.animation == "mickey-mouse" %}
<!-- Mickey Mouse anim -->
<script src="/scripts/mickey-mouse-anim.js"></script>
{% endif %}

{% if page.animation == "uae" %}
<!-- UAE anim -->
<script src="/scripts/uae-anim.js"></script>
{% endif %}

{% if page.animation == "website" %}
<!-- Website anim -->
<script src="/scripts/website-anim.js"></script>
{% endif %}

{% if page.slides or page.testimonials %}
<!-- <script src="/scripts/tinyslider.min.js"></script> -->
<script src="/scripts/glide.min.js"></script>

{% endif %}

<!-- Responsive Nav -->
<script src="/scripts/responsive-nav.min.js"></script>


<!-- <script src="/scripts/wavesurfer.min.js"></script>
<script src="/scripts/wavesurfer-html-init.min.js"></script>
<script src="/scripts/wavesurfer.timeline.min.js"></script> -->
{% if page.audio %}
<script src="/scripts/green-audio-player.min.js"></script>
{% endif %}

<script src="/scripts/index.js"></script>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>


</body>
</html>