
<footer class="pt-8 pb-16 text-center">
    <h4 class="text-offBlack text-lg">Explore, design, validate, repeat</h4>
    <a class="uppercase tracking-widest text-slateGray hover:text-aquamarine font-medium text-xs" href="">Back to top <span>↑</span></a>
</footer>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.6/lottie.min.js"></script> -->
<script src="https://code.haiku.ai/scripts/core/HaikuCore.4.5.1.min.js"></script>
<!-- Petals anim -->
<script src="https://cdn.haiku.ai/6ed52a26-c64f-4b4a-ae25-b46b03ca9622/a908d7e1510f2a215c699975200e976c2af6b9a3/index.embed.js"></script>
<!-- Venn anim -->
<script src="https://cdn.haiku.ai/dbabcf77-0b26-4878-af67-adaacd87ea5b/1ef9861b65acb64bd61d04a0e9602c89338312ba/index.embed.js"></script>
<!-- Coaching packet anim -->
<script src="https://cdn.haiku.ai/c99ab6d4-e7fe-42e7-bf8a-adf70d9dad0d/e15d2b10309b97e42c598ae93ec332c1fa93d387/index.embed.js"></script>
<!-- Coaching session anim -->
<script src="https://cdn.haiku.ai/40d3f006-67e2-4eaa-959e-1d63ada21724/73b96b6c1f746a6207e768055730e9be9cd75605/index.embed.js"></script>
<!-- H & W anim -->
<script src="https://cdn.haiku.ai/b755e18d-ada8-4866-bc83-48c9fbc65ded/765440773e23f270dc949393d9ebe8dd3f7d5211/index.embed.js"></script>
<!-- Bowls anim -->
<script src="https://cdn.haiku.ai/d331f790-8740-4842-a163-616ad4fedc5b/28a5404b678a6cd91be14651d534eaddf17262b3/index.embed.js"></script>
<!-- Sweepr anim -->
<script src="https://cdn.haiku.ai/1b73afd7-f499-4488-be3b-b560915a18eb/b978c4c7c6cf237c82e8112eabd6986de5088ea5/index.embed.js"></script>
<!-- Diamond Anim -->
<script src="https://cdn.haiku.ai/a126fd6f-d1b3-46e1-8c77-a2dced352563/a280a68925b74f11aad1cd2a5f1731be4fe7c6e8/index.embed.js"></script>
<!-- Responsive Nav -->
<script src="/scripts/responsive-nav.min.js"></script>

<script src="/scripts/index.js"></script>

</body>
</html>