<div class="relative pb-16 md:py-16 hero flex items-center">
    <div class="block {% if page.layout == 'portfolio-single' %} lg:w-5/6 xl:w-4/6 {% else %} lg:w-4/5 {%endif%}relative z-10">
    {% if page.layout == "portfolio-single" %}
        <h2 class="hero-subtitle">Case Study</h2>
        <h1 class="hero-title">{{page.title}}</h1>
    {% else %}
        <h2 class="hero-subtitle">{{page.title}}</h2>
        <h1 class="hero-title">{{page.description}}</h1>
    {% endif %}
    </div>
    <div class="absolute right-0 hero-anim top-50 {% unless page.layout == 'portfolio-single' %}opacity-50 hero-anim--lg{%endunless%} z-0" id="{{page.animation}}"></div>
    <!-- <div class="absolute hero-anim" id="mount-379a41be-62dd-4ca1-88ce-7972a6698809"></div> -->

</div>