<div class="py-12 md:py-16 lg:py-18 lg:flex lg:flex-row lg:justify-between lg:items-center relative z-30">
    <a class="text-lg md:text-xl font-medium block align-middle text-white inline-block mb-8 lg:mb-0" href="/">Melanie Polkosky</a>
    <button class="btn-menu lg:hidden float-right nav-toggle" id="menu-toggle" type="button">
        <div class="hamburger hamburger--spin">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <span class="block pl-2">Menu</span>
    </button>

    <nav class="nav-collapse">
        <ul class="list-none flex flex-col lg:flex-row items-center justify-between text-2xl lg:text-lg">
            {% for navigation in site.data.navigation %}
            <li><a class="{% if navigation.url == page.url %} active{% endif %} nav-link" href="{{ navigation.url }}">{{ navigation.text }}</a></li>
            {% endfor %}
            <li><a class="nav-link" href="mailto:{{site.email}}">Email</a></li>
        </ul>
    </nav>
</div>