<h2 class="text-center text-3xl md:text-4xl mb-12">From the gallery</h2>
<div class="relative mx-auto image-glide glide mb-16">
    {% include slide-overlays.html %}
    {% include slide-arrows.html %}
    <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides">
            {% for item in page.slides %}
            <li class="glide__slide px-4">
                <div class="relative">
                    <!-- <div class="absolute top-0 left-0 w-full h-full border img-accent z-10"></div> -->
                    <img class="relative mx-auto z-20" src="/images/{{item.image}}" alt="{{item.title}}">
                    {% if item.title %}
                    <h4 class="font-medium font-body pt-2">↪ {{item.title}}</h4>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="glide__bullets md:hidden" data-glide-el="controls[nav]">
            {% assign i = 0 %}
            {% for item in page.slides %}
            <button class="glide__bullet" data-glide-dir="={{i}}"></button>
            {% assign i = i | plus:1 %}
            {% endfor %}
        </div>
    </div>
</div>