<div class="block {% unless forloop.last == true %}mb-12{% endunless %}">
    <a href="{{item.link}}" class="text-white mb-1 link-arrow2 text-white font-medium text-lg relative">{{item.description}}
        <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.266 1.023l-.782.743c-.195.195-.195.507 0 .664l6.055 6.054H1.22a.475.475 0 00-.469.47v1.093c0 .273.195.469.469.469h13.32l-6.055 6.093c-.195.157-.195.47 0 .664l.782.743c.156.195.468.195.664 0l8.164-8.164a.45.45 0 000-.665L9.93 1.024c-.196-.195-.508-.195-.664 0z"
                fill="currentColor" /></svg>
    </a>
    <div class="flex flex-row items-center">
        <img class="mr-2 w-5" src="/images/{{item.image}}" alt="{{item.description}}">
        <span class="text-silver font-medium">{{item.title}}, {{item.date}}</span>
    </div>
</div>
