---
---

{% include header.html %}
<main class="bg-darkGreen">
  <div class="mx-auto max-w-6xl px-8 xl:px-0">
    {% include navigation.html %}
    {% include hero.html %}
  </div>
    <aside class="relative my-10 lg:my-0 lg:mt-16 px-4 xl:px-0">
      <div class="line absolute w-full left-0 h-px bg-slateGray top-50 z-10"></div>
      <div class="relative mx-auto max-w-5xl mb-6 lg:mb-0">
        <div class="absolute top-0 left-0 w-full h-full border border-slateGray bg-darkGreen portfolio-item-accent z-20">
        </div>
        <div
          class="border bg-darkGreen border-slateGray flex w-full flex-col lg:flex-row px-5 lg:px-0 py-5 justify-between relative portfolio-metadata z-30">
          {% if page.role %}
          <div class="block mb-3 lg:mb-0 lg:px-6">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Role</h4>
            <h3 class="font-body text-xl font-medium">{{page.role}}</h3>
          </div>
          {% endif %}
          {% if page.company %}
          <div class="block mb-3 lg:mb-0 lg:px-6">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Company</h4>
            <h3 class="font-body text-xl font-medium">{{page.company}}</h3>
          </div>
          {% endif %}
          {% if page.client %}
          <div class="block mb-3 lg:mb-0 lg:px-6">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Client</h4>
            <h3 class="font-body text-xl font-medium">{{page.client}}</h3>
          </div>
          {% endif %}
          {% if page.time %}
          <div class="block mb-3 lg:mb-0 lg:px-6">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Time</h4>
            <h3 class="font-body text-xl font-medium">{{page.time}}</h3>
          </div>
          {% endif %}
        </div>
      </div>
    </aside>
  <div class="mx-auto max-w-6xl px-8 lg:px-0">
    <div class="mt-6 md:mt-16 max-w-2xl mx-auto md:text-lg longform-text markdown-text md:text-lg lg:text-xl">
      {{ content }}
    </div>
  </div>

  {% include prevnext.html %}
</main>

{% include footer.html %}
