---
---

{% include header.html %}
<main class="bg-darkGreen mx-auto shadow-xl">
  <div class="mx-auto max-w-5xl xxl:max-w-6xl px-4 sm:px-8 md:px-12 xl:px-0">
    {% include navigation.html %}
    {% include hero.html %}
  </div>
    <aside class="relative mx-auto text-center my-10 lg:my-0 lg:mt-16 px-4 lg:px-6 xl:px-0">
      <div class="line absolute w-full left-0 h-px bg-slateGray top-50 z-10"></div>
      <div class="relative mx-auto inline-block w-full md:w-auto max-w-5xl min-w-3xl mb-6 lg:mb-0">
        <div class="absolute top-0 left-0 w-full h-full border border-slateGray bg-darkGreen portfolio-item-accent z-20">
        </div>
        <div class="border text-left bg-darkGreen border-slateGray flex flex-col md:flex-row px-5 lg:px-0 py-5 justify-between relative portfolio-metadata z-30">
          {% if page.role %}
          <div class="block mb-3 lg:mb-0 lg:px-6 md:mr-10 lg:mr-12 xl:mr-16">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Role</h4>
            <h3 class="font-body text-xl font-medium">{{page.role}}</h3>
          </div>
          {% endif %}
          {% if page.company %}
          <div class="block mb-3 lg:mb-0 lg:px-6 md:mr-10 lg:mr-12 xl:mr-16">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Company</h4>
            <h3 class="font-body text-xl font-medium">{{page.company}}</h3>
          </div>
          {% endif %}
          {% if page.client %}
          <div class="block mb-3 lg:mb-0 lg:px-6 md:mr-10 lg:mr-12 xl:mr-16">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Client</h4>
            <h3 class="font-body text-xl font-medium">{{page.client}}</h3>
          </div>
          {% endif %}
          {% if page.time %}
          <div class="block mb-3 lg:mb-0 lg:px-6 md:mr-10 lg:mr-12 xl:mr-16">
            <h4 class="uppercase font-body text-xs tracking-widest text-silver">Time</h4>
            <h3 class="font-body text-xl font-medium">{{page.time}}</h3>
          </div>
          {% endif %}
        </div>
      </div>
    </aside>
  <div class="mx-auto max-w-6xl px-4 sm:px-8 lg:px-0">
    <div class="mt-6 md:mt-16 mx-auto longform-text markdown-text sm:text-lg lg:text-xl">
      {{ content }}

      {% if page.audio %}
      <div class="mt-12">
        {% for item in page.audio %}
        <div class="relative mb-12">
          <h3 class="font-body mb-2 text-xl font-medium">{{item.title}}</h3>
          {% if item.description %}
          <p>{{item.description}}</p>
          {% endif %}
          <div class="relative mt-4">
            <div class="border border-slateGray w-full h-full absolute z-10 audio-accent"></div>
            <div class="audio-element">
              <audio crossorigin>
                <source src="/audio/{{item.link}}" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      {%endif%}
    </div>

  </div>

  {% if page.testimonials %}
    {% include hr.html %}
    {% include slider-testimonials.html %}
  {% endif %}

  {% if page.slides %}
    {% include hr.html %}
    {% include slider-image.html %}
  {% endif %}

  {% include prevnext.html %}
</main>

{% include footer.html %}
